<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/consLayout}">
<head>
<meta charset='utf-8' />
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>


<th:block layout:fragment="css">
	<style>

.fc-daygrid-day-number {
	color: black;
}

.fc-event-time {
	color: white;
}

.fc-daygrid-event-harness {
	cursor: pointer;
}
</style>
</th:block>
</head>

<body>
	<div layout:fragment="content" class="content-wrapper">
		<div id='calendar'></div>
	</div>
</body>
<th:block layout:fragment="script">
	<script th:inline="javascript">	
		document.addEventListener('DOMContentLoaded', function() {

			var calendarEl = document.getElementById('calendar');
					
			  var request = $.ajax({
				url : "/reservation/selectDate",
				method : "GET",
				async : true,
				headers : { 
					"Content-Type" : "application/json",
					"X-HTTP-Method-Override" : "GET"
				},
				dataType : 'json',
				success : function(result) { 
					console.log(result)
				},
				error : function(request, status, error) { // 결과 에러 콜백함수
					console.log(error)
				}
			});
	
			function showPopUp(data) {
				console.log("showPopUp의 data : " + JSON.stringify(data))
			    const url = "/reservation/reservationForm/"+JSON.stringify(data);
				var data = data;
			    window.open(url , "reservationForm", "toolbar=no, width=1000, height=700, directories=no, status=no, scrollbars=no, resizable=yes"); 		 
			}

			request.done(function(result) {
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView : 'dayGridMonth',
					showNonCurrentDates : true,
					headerToolbar : {
						left : 'prev',
						center : 'title',
						right : 'next'
					},
					navLinks : true, 
					businessHours : true, 
					editable : false,
					selectable : true,
					timeZone:false,
					locale : "ko",
					dateClick: function(info) { // 날짜 클릭 이벤트를 막고싶었지만 플러그인 설치 문제로 실패
					    alert('Date: ' + info.dateStr);
					    alert('Resource ID: ' + info.resource.id);
					  },
					eventDisplay:'block',			
					eventClick : function(info) {	
						const name = [[${#authentication.principal.username}]];
						var data = JSON.parse(JSON.stringify(info.event));						
						data.name = name;
						if(!(data.title=="예약완료")){
						var header = $("meta[name='_csrf_header']").attr('content');
						var token = $("meta[name='_csrf']").attr('content');
						var result = confirm(info.event.start.toISOString().replace('T', ' ').slice(0, 16)+ '에 예약을 진행하시겠습니까?');
						if(result == false ){
							alert("상담 예약을 취소했습니다.")	
							return;
						}					
							
						$.ajax({
							url : "/reservation/selectReservation",
							method : "POST",
							async : true, // 비동기화 여부 (default : true)
						 	headers : { // Http header
								"Content-Type" : "application/json",
								"X-HTTP-Method-Override" : "POST"
							}, 
							data : JSON.stringify(data),
							
							beforeSend: function(xhr){
							        xhr.setRequestHeader(header, token);
							        
							},
							success : showPopUp(data),
							
							error : function(request, status, error) { // 결과 에러 콜백함수
								console.log(error)
							}
						});
						}
						else{
							alert("예약이 완료된 날짜입니다.");
						}
					},								 
				});
				calendar.render();	
					for(var i =0; i<result.length;i++){
						calendar.addEvent(result[i])
					}	
			});
			
		});
	</script>
</th:block>

</html>
