html {
position: relative;
min-height: 100%;
margin: 0;
}
body {
min-height: 100%;
}

text-align: center;
}
.content {
  margin-bottom: 100px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}