@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.Icon p {
  font-family: 'GmarketSansMedium';
  font-size: 25px;
  font-weight: bold;

}
.slide-container {
	overflow: hidden;
}

.Icon ul {
	display: flex;
	justify-content: center; /* 아이콘을 가로 중앙으로 정렬 */
	list-style: none;
	padding: 0;
	gap: 150px; /* 아이콘 사이의 간격 조정 */
}

.Icon ul li {
	text-align: center;
}

.Vtxt {
	text-align: center;
}

#main_slide {
	max-width: 1220px; /* 원하는 너비로 설정 */
	margin: 0 auto; /* 가운데 정렬을 위해 margin 설정 */
	overflow: hidden; /* 추가된 부분 */
}

.Vimg {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 540px;
	width: 50%;
	flex-grow: 0;
	flex-shrink: 0;
}

.Vimg_inner {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 30px;
}

.Vimg_inner img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.Icon li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.Icon li img {
	margin-bottom: 10px;
}

.mBG01 {
  margin: 0 auto;
  overflow: hidden;
  background: #d5efee;
  background: linear-gradient(-40deg, #f3fef5 10%, #b8e0e6);
  background: -webkit-linear-gradient(-40deg, #f3fef5 10%, #b8e0e6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  margin-bottom: 40px;
  position: relative;
}


.Vimg_inner iframe {
  width: 680px;
  height: 380px;
   border-radius: 10px; /* Adjust the value as needed */
}

.mainPOP_new {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.vwrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide_buttons {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Icon {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	margin-top: 50px; 
	margin-bottom: 50px;
}

.iconFooterWrapper {
	position: relative;
}

.slide_buttons button {
	border: none;
	background: transparent;
	width: 31px;
	height: 31px;
	color: grey;
	margin-bottom: 0;
	margin-right: 10px; /* 원하는 간격으로 설정 */
}

.slide_buttons button:last-child {
  margin-right: 0; /* 마지막 버튼에는 마진을 적용하지 않음 */
}

.slide_buttons button:focus {
  outline: none;
}

#play_pause_button {
	margin-bottom: 1px; /* 토글 버튼과 높이를 맞추기 위해 음수 값을 설정 */
}

.mBG02 {
	margin-top: 40px; /* 아이콘과 푸터 사이의 간격 조절 */
}

.notice {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.notice_left {
	margin-right: 40px;
	width: 500px;
	height: 350px;
	text-align: left;
}

.notice_right {
  margin-left: 40px;
  width: 500px;
  height: 350px;
  text-align: left;
}

.notice_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: black; 
	text-decoration: none;
	 font-family: 'SUITE-Regular';
}
.notic_header{
	font-weight: bold;
}

.notice_item span {
	flex-grow: 1;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.notice_item span:last-child {
	text-align: right;
}

.notice_inner {
	display: flex;
	align-items: center;
}

.notice_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

.notice_header .inline {
	margin: 0;
}

.notice_header {
	display: flex;
	align-items: baseline;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #f27ea0;
}

.mhinfo_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #8cc63e;
}

.mhinfo_header .inline {
	margin: 0;
}

.mhinfo_header {
	display: flex;
	align-items: baseline;
}

footer {
  width: 100%;
}

