<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.carousel-inner>.item {
	height: 250px;
}

.margin {
	margin -bottom: 30px;
}

.banner {
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card-text {
	text -overflow: ellipsis;
	white -space: nowrap;
	overflow: hidden;
}

a:hover {
	text -decoration: none;
}

.center {
	text -align: center;
}
</style>
</th:block>
<div layout:fragment="content">
	<div id="carouselControls" class="carousel slide margin"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active item">
				<img class="d-block w-100 banner"
					src="img/누렁이_banner.png"
					alt="First slide">
			</div>
		</div>
	</div>

</div>