<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seoulWeeLayout}">
<head>
<meta charset='utf-8' />

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>


<th:block layout:fragment="css">
	<style>
	.subview {
		width: 1290px;
		pointer-events: none;
	user-select: none;
	}
</style>
</th:block>
</head>

<body>
	<div layout:fragment="content" class="content-wrapper">
		<div class="subview">
			<h3>BI</h3>
			<img src="/img/symbol.PNG"> <img src="/img/colorNfont.PNG">
		</div>
	</div>
</body>

</html>
