<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/basicLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.error {
			color: #bd2130;
		}
	</style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script th:inline="javascript">
            $(document).ready(function(){

            const name = [[${#authentication.principal.username}]];

            $("#disconn").on("click", (e) => {
                disconnect();
            })
            
            $("#button-send").on("click", (e) => {
                send();
            });

            const websocket = new WebSocket("ws://192.168.0.98:8090/ws/chat");
			
            
            
            websocket.onmessage = onMessage;
            websocket.onopen = onOpen;
            websocket.onclose = onClose;

            function send(){

                let msg = document.getElementById("msg");
                var talkMsg = msg.value;

                console.log(name + ":" + msg.value);
                var talkdata = {type:'TALK',roomId:foundRoomId,sender:name,message:talkMsg};
                websocket.send(JSON.stringify(talkdata));
                msg.value = '';
            }
            
            //채팅창에서 나갔을 때
            function onClose(evt) {
                var str = name + ": 님이 방을 나가셨습니다.";
                var quitdata = {type:'QUIT',roomId:foundRoomId,sender:name,message:str};
                
                websocket.send(JSON.stringify(quitdata));
            }
            
            //채팅창에 들어왔을 때
            function onOpen(evt) {
            	$.ajax({
    				type: "get",
    				url: "/chat/findRoom",
    				data : { "name" : name },
    				contentType: "application/json",
    				success: function(result){
    					foundRoomId = result.roomId;
    					console.log("roomId:"+foundRoomId);
    					var str = name + ": 님이 입장하셨습니다.";
    	                var enterdata = {type:'ENTER',roomId:foundRoomId,sender:name,message:str};
    	                
    	                websocket.send(JSON.stringify(enterdata));
    				},
    				error : function(){
    						alert("에러발생");
    				}
    			});
                
            }

            function onMessage(msg) {
                var data = msg.data;
                var sessionId = null;
                //데이터를 보낸 사람
                var message = null;
                var arr = data.replace("{","").replace("}","").replaceAll('"',"").split(",");

                for(var i=0; i<arr.length; i++){
                	arr[i] = arr[i].split(":")[1]
                    console.log('arr[' + i + ']: ' + arr[i]);
                }

                var cur_session = name;

                //현재 세션에 로그인 한 사람
                console.log("cur_session : " + cur_session);
                sessionId = arr[2];
                message = arr[3];

                console.log("sessionID : " + sessionId);
                console.log("cur_session : " + cur_session);

                //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                if(sessionId == cur_session){
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + arr[2] + " : " + arr[3] + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else{
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + arr[2] + " : " + arr[3] + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
            }
            })
</script>
</th:block>
<div layout:fragment="content">
 <div class="container">
            <div class="col-6">
                <label><b>채팅방</b></label>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</html>