<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/sweetLayout}">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>스윗게시판 조회</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
			// 이전, 다음버튼 이동할 페이지 없을시, onclick 못하게 삭제
			var disalbed_directions = document.querySelectorAll(".disabled > a");
			disalbed_directions.forEach(function(disalbed_direction) {
				disalbed_direction.removeAttribute('onclick');
			});
			
			$(".board-content").on("click", function() {
				var board_tr = $(this);
				var board_cd = board_tr.children()[0].innerHTML;
				location.href = '/sweetboard/dtl/'+board_cd;
			});
		});

		function page(page) {
			var searchDateType = $("#searchDateType").val();
			var searchBoardDiv = $("#searchBoardDiv").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			location.href = "/sweetboard/list/" + page + "?searchDateType="
					+ searchDateType + "&searchBoardDiv=" + searchBoardDiv
					 + "&searchBy=" + searchBy
					+ "&searchQuery=" + searchQuery;
		}
		
		function checkNickName() {
			const user = [[${#authentication.principal}]];
			if(user != 'anonymousUser') {
				const name = user.username;
				if(name == 'admin'){
					location.href="/sweetboard/add";
					return;
				} 
			}
			$.ajax({
				   url: "/sweetboard/existNickName",
				   method: "get",
				   success: function(result){
				      if(result.nickName == null) {
				         if(confirm("닉네임 설정을 해야 이용하실수 있습니다. 닉네임 설정하러 가시겠습니까?")) {
				            location.href="/mypage/setNickName";
				         }
				      } else {
				    	  location.href="/sweetboard/add";
				      }
				   },
				   error: function(result) {
				      alert("에러가 발생했습니다.");
				   }
				});
		}
	</script>
</th:block>

<th:block layout:fragment="css">
<style>
select {
	margin-right: 10px;
}

tr {
	text-align: "center";
}

h1 {
	margin-bottom : 15px;
}
.board {
	background: #FEE1E8;
}

#board_title {
	width : 30%;
}
</style>
</th:block>
</head>


<body>
	<div layout:fragment="content" class="content-wrapper">
	<div class="subview">
		<h3>스윗(SWeeT) 게시판</h3>
		<form th:action="@{'/list/' + ${sweetBoards.number}}" role="form"
			method="get" th:object="${sweetBoards}">
			<div class="table-div">
			<table class="table-container">
				<thead>
					<tr>
						<th class="board" id="board_no">글번호</th>
						<th class="board" id="board_creator">작성자</th>
						<th class="board" id="board_title">제목</th>
						<th class="board" id="board_div">게시판구분</th>
						<th class="board" id="board_date">작성일</th>
						<th class="board" id="board_like">좋아요</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sweetBoard, status: ${sweetBoards.getContent()}" class="board-content">
						<td th:text="${sweetBoard.cd}"></td>
						<td th:text="${sweetBoard.member.nickName}"></td>
						<td th:text="${sweetBoard.title}"></td>
						<td th:text="${sweetBoard.board_div}"></td>
						<td th:text="${#temporals.format(sweetBoard.regDt, 'yyyy-MM-dd hh:mm')}"></td>
						<td th:text="${sweetBoard.like_cnt}"></td>
					</tr>
				</tbody>
			</table>
			<button style="float: right; margin-right: 80px;" type="button" class="button-style"
					onclick="checkNickName()">글쓰기</button>
			</div>
			<div
				th:with="start=${(sweetBoards.number/maxPage)*maxPage + 1}, end=(${(sweetBoards.totalPages == 0) ? 1 : (start + (maxPage - 1) < sweetBoards.totalPages ? start + 
(maxPage - 1) : sweetBoards.totalPages)})">
				<ul class="pagination-ul">
					<li class="page-button-direction"
						th:classappend="${sweetBoards.first}?'disabled'"><a
						th:onclick="'javascript:page(' + ${sweetBoards.number - 1} + ')'"
						aria-label='Previous' class="page-link"> <span
							aria-hidden='true' th:class="${sweetBoards.first}?'disabled'">&lt;&nbsp;Previous</span>
					</a></li>
					<li class="page-button"
						th:each="page: ${#numbers.sequence(start, end)}"
						th:classappend="${sweetBoards.number eq page-1}?'page-active':''"><a
						th:onclick="'javascript:page(' + ${page - 1} + ')'"
						th:inline="text" class="page-link">[[${page}]]</a></li>
					<li class="page-button-direction"
						th:classappend="${sweetBoards.last}?'disabled'"><a
						th:onclick="'javascript:page(' + ${sweetBoards.number + 1} + ')'"
						aria-label='Next' class="page-link"> <span aria-hidden='true'th:class="${sweetBoards.last}?'disabled'">Next&nbsp;&gt;</span>
					</a></li>
				</ul>
			</div>

			<div class="search-div"
				th:object="${sweetSearchDto}">
				<select th:field="*{searchDateType}" class="input-select"
					style="width: auto;">
					<option value="all">전체기간</option>
					<option value="1d">1 일</option>
					<option value="1w">1 주</option>
					<option value="1m">1개월</option>
					<option value="6m">6개월</option>
				</select> <select th:field="*{searchBoardDiv}" class="input-select"
					style="width: auto;">
					<option value="">게시판구분 (전체)</option>
					<option value="SCHOOL_TASK">학교업무 공유게시판</option>
					<option value="CONSULTING">상담전문성 공유게시판</option>
					<option value="FORM">서식 공유게시판</option>
					<option value="FREETALK">자유게시판</option>
				</select> <select th:field="*{searchBy}" class="input-select" style="width: auto;">
					<option value="">전체항목</option>
					<option value="title">제목</option>
					<option value="content">내용</option>
					<option value="createdBy">작성자</option>
				</select> <input th:field="*{searchQuery}" type="text" class="input-long"
					placeholder="검색어를 입력해주세요">
				<button id="searchBtn" type="submit" class="button-style searchBtn">검색</button>
			</div>
		</form>
</div>
	</div>
</body>
</html>