<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/memberLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.error {
			color: #bd2130;
		}
		
		.subview {
			padding: 20px 50px 40px 50px;
		}
		
		.content {
  			margin-left: 38%;
  			margin-right: 38%;
		}
		
		.button-style {
		  	margin-left: 5px;
		  	margin-right: 5px;
		}
	</style>
</th:block>
<div layout:fragment="content">
<div class="subview">
<h3>로그인</h3>
	<form role="form" method="post" action="/members/login">
		<div class="input-group">
			<label th:for="id" class="input-label">아이디</label> <input type="text"  name="id"
				class="input-short" placeholder="아이디 입력">
		</div>
		<div class="input-group">
			<label th:for="pwd" class="input-label">비밀번호</label> <input type="password"
				name="pwd" id="pwd" class="input-short"
				placeholder="비밀번호 입력">
		</div>
		<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
		<div class="search-div">
			<button class="button-style">로그인</button>
			<button type="button" class="button-style"
				onClick="location.href='/members/beforeRegister'">회원가입</button>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}">
	</form>
	</div>
</div>
</html>