<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/chatLayout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:inline="javascript">
       $(document).ready(function(){
			// 채팅에서 사용할 이름: Member 아이디
            const name = [[${#authentication.principal.username}]];

       		// 나가기 버튼 클릭: 웹소켓 닫기, 채팅창에 퇴장메시지 출력, 화면닫기
            $("#disconn").on("click", (e) => {
                disconnect();
            })
            
            // 전송 버튼 클릭: 메시지 전송됨
            $("#button-send").on("click", (e) => {
                send();
            });
            
       		// 채팅입력란에서 엔터키 입력시: 메시지 전송됨
            $("#msg").on("keyup", (e) => {
            	if(e.keyCode === 13) {
            		send();
            	}
            });

            // 웹소켓 연결
            const websocket = new WebSocket("ws://localhost/ws/chat");
            
            websocket.onmessage = onMessage;
            websocket.onopen = onOpen;
            websocket.onclose = onClose;
            
            // 웹소켓 연결해제
            function onClose(evt) {
                console.log('webSocket 연결 해제')
            }
            
            // 웹소켓 오픈됐을때 방 생성(ajax), 입장메시지 출력
            function onOpen(evt) {
            	$.ajax({
    				type: "get",
    				url: "/chat/findRoom",
    				data : { "name" : name },
    				contentType: "application/json",
    				success: function(result){
    					foundRoomId = result.roomId;
    					console.log("roomId:"+foundRoomId);
    					var str = name + ": 님이 입장하셨습니다.";
    	                var enterdata = {type:'ENTER',roomId:foundRoomId,sender:name,message:str};
    	                
    	                websocket.send(JSON.stringify(enterdata));
    				},
    				error : function(){
    						alert("에러발생");
    				}
    			});
                
            }

            // 웹소켓에서 받은 메시지 가공해서 채팅방에 출력
            function onMessage(msg) {
            	// 전송받은 데이터
                var data = msg.data;
            	// Json형식의 데이터를 가공
                var arr = data.replace("{","").replace("}","").replaceAll('"',"").split(",");
				// 필요한 데이터 배열에 담아줌 
                for(var i=0; i<arr.length; i++){
                	arr[i] = arr[i].split(":")[1]
                    console.log('arr[' + i + ']: ' + arr[i]);
                }

                // 현재 세션에 로그인한 사람
                var cur_session = name;
                // 데이터를 보낸 사람
                var sessionId = arr[2];
                // 메시지 내용
                var message = arr[3];

                console.log("cur_session : " + cur_session);
                console.log("sessionID : " + sessionId);
                console.log("message : " + message);

                // 로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                if(sessionId == cur_session){
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary2'>";
                    str += "<b>" + arr[2] + " : " + arr[3] + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else{
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + arr[2] + " : " + arr[3] + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                
                // 채팅이 스크롤 아래로 내려갈때 화면도 따라 내려감
                let mySpace = document.getElementById("msgArea"); 
                mySpace.scrollTop = mySpace.scrollHeight;
            }
            
            // 채팅창에 퇴장메시지 출력, 웹소켓 닫기, 화면닫기
            function disconnect(){
            	var str = name + "님이 퇴장하셨습니다.";
                var quitdata = {type:'QUIT',roomId:foundRoomId,sender:name,message:str};
                
                websocket.send(JSON.stringify(quitdata));
            	websocket.close();
            	window.close();
            }
            
            // 메시지 전송
            function send(){

                let msg = document.getElementById("msg");
                var talkMsg = msg.value;

                console.log(name + ":" + msg.value);
                var talkdata = {type:'TALK',roomId:foundRoomId,sender:name,message:talkMsg};
                websocket.send(JSON.stringify(talkdata));
                msg.value = '';
            }
		})
</script>
</th:block>
<div layout:fragment="content">
 <div class="container">
            <div class="chatHead">
                <label><b>채팅방</b></label>
               <button id="disconn">나가기</button>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.chatArea {
	width: 100%;
}
.chatHead {
	display: inline-block;
	width: 100%;
}

#disconn {
	margin-left:250px;
}

#msgArea {
	padding: 0; top : 20px;
	bottom: 20px;
	width: 420px;
	height: 600px;
	overflow: auto;
	top: 20px;
}

.alert-secondary2 {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
	width: 300px;
	left:80px;
}

.alert-warning {
	width: 300px;
	left: 0;
}

.input-group {
	bottom: 0;
	position: fixed;
	width: 400px;
}

.msg {
	width: 350px;
	right: 30px;
}
</style>
</th:block>
</html>