<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link th:href="@{/css/layout1.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/header::header"></div>

	<div id="container">
		<div class="main_contents">
			<div class="conwrap">
				<div id="main">
					<div class="content">
						<div class="mBG01">
							<div class="slide_buttons">
								<!-- 슬라이드 버튼 -->
								<button onclick="showSlide(0)" style="background-image: url('/img/main/left-right.png'); width: 31px; height: 31px; color: grey;"><</button>
								<button onclick="showSlide(1)" style="background-image: url('/img/main/left-right.png'); width: 31px; height: 31px; color: grey;">></button>
								<!-- 재생/일시정지 버튼 -->
								<button id="play_pause_button" onclick="toggleSlideShow()">
									<img id="play_pause_image" src="/img/main/stop.png" alt="재생 버튼">
								</button>
							</div>
							<div class="mainPOP_new">
								<div class="vwrap" id="main_slide" >

									<div class="Vimg" id="popLink1"
										style="width: 1250px; height: 600px; padding: 30px;">
										<p class="Vtxt">
											<img src="/img/main/vtxt.png" alt="우리 Wee에서 희망을 찾다" />
										</p>
										<div class="Vimg_inner">
											<iframe class="youtube" id="popupzone_youtube_0"
												src="http://cdn.wee.go.kr/watch/promotion/promo2020_03_1m.mp4?autoplay=1&mute=1"
												frameborder="0"
												allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
												allowfullscreen></iframe>
										</div>
									</div>

									<div class="Vimg" id="popLink2"
										style="width: 1250px; height: 600px; padding: 30px;">
										<p class="Vtxt">
											<img src="/img/main/vtxt.png" alt="우리 Wee에서 희망을 찾다" />
										</p>
										<div class="Vimg_inner img">
											<a href="#" target="_blank"><img
												src="/img/main/vimg_tree.gif"></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mBG02">
							<div class="Icon">
								<div class="iconContentWrapper">
									<ul>
										<li class="i01"><a href="/cons/consInfo"> <img
												src="/img/main/i01.svg" alt="아이콘" />
												<p>이용안내</p>
										</a></li>
										<li class="i02"><a href="/mhTest/testMain"> <img
												src="/img/main/i02.svg" alt="아이콘" />
												<p>마음건강검사</p>
										</a></li>
										<li class="i03"><a href="/boardCons/boardConsList"> <img
												src="/img/main/i03.svg" alt="아이콘" />
												<p>온라인 상담실</p>
										</a></li>
										<li class="i04"><a href="/members/login"> <img
												src="/img/main/i04.svg" alt="아이콘" />
												<p>상담예약</p>
										</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="mBG03">
							<section class="notice">
								<div class="notice_inner">
									<div class="notice_left">
										<div class="notice_left_box" style="margin-top: 20px;">
											<div class="notice_header">
												<h2 class="inline">공지사항</h2>
												<a href="/board/notice" class="inline" style="color: black;">+more</a>
											</div>

											<th:block th:each="notice : ${noticeList}">
												<div class="notice_item">
													<span> <a
														th:href="@{/board/noticedtl/{noticeCd}(noticeCd=${notice.noticeCd})}"
														style="color: black;"
														th:text="${notice.title}"></a>
													</span> <span style="pointer-events: none;"
														th:text="${#temporals.format(notice.regDt, 'yyyy-MM-dd')}"></span>
												</div>
											</th:block>
										</div>
									</div>

									<div class="notice_right">
										<div class="notice_right_box" style="margin-top: 20px;">
											<div class="mhinfo_header">
												<h2 class="inline">마음건강정보</h2>
												<a href="/mhinfo/mhinfos" class="inline" style="color: black;">+more</a>
											</div>
											<th:block th:each="mhinfo : ${mhinfoList}">
												<div class="notice_item">
													<span> <a
														th:href="@{/mhinfo/mhinfo/{mhinfo.cd}(mhinfo.cd=${mhinfo.cd})}"
														style="color: black;"
														th:text="${mhinfo.title}"></a>
													</span> <span style="pointer-events: none;"
														th:text="${#temporals.format(mhinfo.regDt, 'yyyy-MM-dd')}"></span>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

	<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}">
	<div th:replace="fragments/footer::footer"></div>

</body>

<script>
  const slides = document.querySelectorAll('#main_slide .Vimg');
  const prevButton = document.getElementById('prev_slide');
  const nextButton = document.getElementById('next_slide');
  const playPauseButton = document.getElementById('play_pause_button');
  const playPauseImage = document.getElementById('play_pause_image');

  let currentSlide = 0;
  let isSlideShowRunning = true;
  let slideInterval = setInterval(() => {
    if (isSlideShowRunning) {
      slideTo('next');
    }
  }, 5000);

  // 슬라이드가 시작되기 전에 이전 페이지의 내용을 숨기는 함수
  function hidePreviousPage() {
    const previousPage = document.querySelector('.slide-container .page:nth-child(1)');
    if (previousPage) {
      previousPage.style.display = 'none';
    }
  }

  // 슬라이드가 시작된 후에 다음 페이지의 내용을 보이게 하는 함수
  function showNextPage() {
    const nextPage = document.querySelector('.slide-container .page:nth-child(2)');
    if (nextPage) {
      nextPage.style.display = 'block';
    }
  }

  
  // 페이지 로드 시 슬라이드 초기화
	document.addEventListener('DOMContentLoaded', function() {
  hidePreviousPage(); // 이전 페이지 숨김
  setTimeout(showNextPage, 1000); // 1초 후에 다음 페이지 보이기 (원하는 시간으로 조정)
  
  const storedSlideIndex = localStorage.getItem('currentSlideIndex');
  if (storedSlideIndex !== null) {
    currentSlide = parseInt(storedSlideIndex);
  }

  
  initializeSlides();
  showSlide(currentSlide);
});


  function storeCurrentSlideIndex() {
    localStorage.setItem('currentSlideIndex', currentSlide.toString());
  }

  function showSlide(n) {
    slides.forEach((slide, index) => {
      if (index === n) {
        slide.style.display = 'flex';
      } else {
        slide.style.display = 'none';
      }
    });
  }

  function toggleSlideShow() {
    if (isSlideShowRunning) {
      clearInterval(slideInterval);
      playPauseImage.src = '/img/main/play.png';
      isSlideShowRunning = false;
    } else {
      slideInterval = setInterval(() => {
        showSlide((currentSlide + 1) % slides.length);
      }, 5000);
      playPauseImage.src = '/img/main/stop.png';
      isSlideShowRunning = true;
    }
  }

  function slideTo(direction) {
    slides[currentSlide].style.display = 'none';

    if (direction === 'prev') {
      currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    } else {
      currentSlide = (currentSlide + 1) % slides.length;
    }

    slides[currentSlide].style.display = 'flex';
  }

  prevButton.addEventListener('click', () => {
    slideTo('prev');
    storeCurrentSlideIndex(); // 슬라이드 전환 시 인덱스 저장
  });

  nextButton.addEventListener('click', () => {
    slideTo('next');
    storeCurrentSlideIndex(); // 슬라이드 전환 시 인덱스 저장
  });

  playPauseButton.addEventListener('click', () => {
    toggleSlideShow();
  });

  function initializeSlides() {
    slides.forEach((slide, index) => {
      if (index === 0) {
        slide.style.display = 'flex';
      } else {
        slide.style.display = 'none';
      }
    });
  }
</script>

</html>