<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/basicLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.fieldError {
	color: #bd2130;
}
</style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:inline="javascript">
	var errorMessage = [[${errorMessage}]];
	$(document).ready(function() {
		var now_utc = Date.now() // 지금 날짜를 밀리초로
		// getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
		var timeOff = new Date().getTimezoneOffset()*60000; // 분단위를 밀리초로 변환
		// new Date(now_utc-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
		var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
		document.getElementById("startDate").setAttribute("min", today);
	});

	
	function setEndDate() {
		var startDt = document.getElementById("startDate");
		var endDt = document.getElementById("endDate");
		endDt.setAttribute("min",startDt.value);
		endDt.value=startDt.value;
	}
	
	function getSchList() {
		var startDt = document.getElementById("startDate").value;
		var endDt = document.getElementById("endDate").value;
		console.log(startDt+","+endDt);
	    var result = [];
	    var curDate = startDate;
	    while(curDate <= endDt) {
	        result.push(curDate);
	        curDate.setDate(curDate.getDate() + 1);
	    }
		console.log(result);
		var str = "<span class='sch'>"
		str += 
		str += "</span>"
		document.getElementById("schArea").append(str);
	}
	</script>

	
</th:block>
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>비대면 상담 일정 관리</title>
</head>
<body>
	<div layout:fragment="content">
		시작일:<input type="date" id="startDate" onchange="setEndDate()">
		종료일:<input type="date" id="endDate" onchange="getSchList()">
		<div id="schArea"></div>
	</div>
</body>
</html>