<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/sweetLayout}">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>스윗게시판 조회</title>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});

		function page(page) {
			var searchDateType = $("#searchDateType").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			location.href = "/sweetboard/list/" + page + "?searchDateType="
					+ searchDateType + "&searchBy=" + searchBy
					+ "&searchQuery=" + searchQuery;
		}
		
		function checkNickName() {
			$.ajax({
				   url: "/sweetboard/existNickName",
				   method: "get",
				   success: function(result) {
					   if(result.nickName == null) {
						   if(confirm("닉네임 설정을 해야 이용하실수 있습니다. 닉네임 설정하러 가시겠습니까?")) {
							   location.href="/mypage/setNickName";
							}
				      } else {
				    	  location.href="/sweetboard/add";
				      }
				   },
				   error: function(result) {
				      alert("에러가 발생했습니다.");
				  }
			});
		}
	</script>
</th:block>

<th:block layout:fragment="css">
<style>

select {
	margin-right: 10px;
}

tr {
	text-align: center;
}

h1 {
	margin-bottom : 15px;
}

.board {
 	text-align : center;
	background: #FEE1E8;
}

#board_title {
	width : 45%;
}

#board-sort {
	text-align: left;
	padding-left: 8px;
}

#board-sort:hover {
	text-decoration : underline;
	cursor : pointer;
}

#main-content {
	margin-left : 15%;
}

.newSweet {
	margin-top: 30px;
}

</style>
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<form id="main-content" th:action="@{'/list/' + ${sweetBoards.number}}" role="form" method="get" th:object="${sweetBoards}">
			<h1>&nbsp;&nbsp;스윗(SWeeT) 게시판</h1>
			<table class="table" border="1" width="1200px" height="500px" >
				<thead>
					<tr>
						<td class="board" id="board_no">글번호</td>
						<td class="board" id="board_creator">작성자</td>
						<td class="board" id="board_title">제목</td>
						<td class="board" id="board_div">게시판구분</td>
						<td class="board" id="board_date">작성일</td>
						<td class="board" id="board_like">좋아요</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sweetBoard, status: ${sweetBoards.getContent()}" align="center">
						<td th:text="${sweetBoard.cd}"></td>
						<td th:text="${sweetBoard.member.nickName}"></td>
						<td id="board-sort"><a th:href="'/sweetboard/dtl/'+${sweetBoard.cd}" th:text="${sweetBoard.title}"></a></td>
						<td th:text="${sweetBoard.board_div}" id="board-sort"></td>
						<td th:text="${sweetBoard.regDt}"></td>
						<td th:text="${sweetBoard.like_cnt}"></td>
					</tr>
				</tbody>
			</table>

			<div th:with="start=${(sweetBoards.number/maxPage)*maxPage + 1}, end=(${(sweetBoards.totalPages == 0) ? 
				1 : (start + (maxPage - 1) < sweetBoards.totalPages ? start + (maxPage - 1) : sweetBoards.totalPages)})">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${sweetBoards.first}?'disabled'">
						<a th:onclick="'javascript:page(' + ${sweetBoards.number - 1} + ')'" aria-label='Previous' class="page-link">
							<span aria-hidden='true'>Previous</span>
						</a>
					</li>
					<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${sweetBoards.number eq page-1}?'active':''">
						<a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
					</li>
					<li class="page-item" th:classappend="${sweetBoards.last}?'disabled'">
						<a th:onclick="'javascript:page(' + ${sweetBoards.number + 1} + ')'" aria-label='Next' class="page-link">
							<span aria-hidden='true'>Next</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- 검색조건 -->
			<div class="form-inline justify-content-center" th:object="${sweetSearchDto}">
				<select th:field="*{searchDateType}" class="form-control"
					style="width: auto;">
					<option value="all">전체기간</option>
					<option value="1d">1 일</option>
					<option value="1w">1 주</option>
					<option value="1m">1개월</option>
					<option value="6m">6개월</option>
				</select> <select th:field="*{searchBoardDiv}" class="form-control"
					style="width: auto;">
					<option value="">게시판구분 (전체)</option>
					<option value="SCHOOL_TASK">학교업무 공유게시판</option>
					<option value="CONSULTING">상담전문성 공유게시판</option>
					<option value="FORM">서식 공유게시판</option>
					<option value="FREETALK">자유게시판</option>
				</select> <select th:field="*{searchBy}" class="form-control" style="width: auto;">
					<option value="">전체항목</option>
					<option value="title">제목</option>
					<option value="content">내용</option>
					<option value="createdBy">작성자</option>
				</select> <input th:field="*{searchQuery}" type="text" class="form-control"
					placeholder="검색어를 입력해주세요">&nbsp
				<button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
			</div>
			<div class="newSweet" style="text-align: center" >
				<a class="add_link" onclick="checkNickName()" style="font-size: 40px">글 등록하기</a>
			</div>
		</form> 
	</div>
</body>
</html>