<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/chatLayout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="css">
		<style>
.content {
	width: 90%;
	height: 90%;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.listDiv {
	height: 450px;
	overflow: auto;
}

.button-style {
	margin-top: 10px;
	display: inline-block;
}
</style>
	</th:block>
	<th:block layout:fragment="script">
		<script>
		
		function Download(){
	        let ulClass = document.getElementsByClassName('ulClass');
	        var chatting = "";
	        for(var i=0; i< ulClass.length; i++) {
	        	chatting += ulClass[i].innerText+"\n";
	        	console.log(chatting);
	        }
	        console.log(chatting);
	        // let file_name = document.querySelector("#file_name");
	
	        const blob = new Blob([chatting], {type:'text/plain'});
	        const url = window.URL.createObjectURL(blob);
	
	        const a = document.createElement('a');
	        a.style.display = 'none';
	        a.href = url;
	        a.download = '비대면 상담 내용';
	        document.body.appendChild(a);
	        
	        a.click();
	
	        setTimeout(() => {
	            document.body.removeChild(a);
	            window.URL.revokeObjectURL(url);
	        }, 100);
	    }
	</script>
	</th:block>
	<div layout:fragment="content">
		<div class="subview">
			<h3>비대면 상담 내용</h3>
			<div class="listDiv">
				<ul th:each="compCons : ${compConsList}" class="ulClass">
					<li th:text="${compCons}"></li>
				</ul>
			</div>
			<button class="button-style" onclick="Download()" style="margin-left: 4.5rem;">다운로드</button>
			<button class="button-style" onclick="window.close()" style="margin-left: 1.2rem;">창닫기</button>
		</div>

	</div>
</body>
</html>