<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.content-wrapper {
	width: 80%;
	display: flex;
  	justify-content: center;
}
#schArea {
	margin-top: 20px;
	width: 600px;
}

.sch {
	display: inline-block;
	margin: 5px;
	padding: 8px 18px;
	font-size: 14px;
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
	border-radius: 10px;
}
</style>
</th:block>
<!-- 사용자 스크립트 추가 -->

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/untactConsSchMng.js"></script>
<title>비대면 상담 일정 관리</title>
</head>
<body>
	<div layout:fragment="content" class="content-wrapper">
		<div id='calendar'></div>
		<div class="subview">
			<h3>비대면상담 일정추가</h3>
			<div class="input-group">
				<label for="startDate"> 시작일 </label>
				<input type="date" id="startDate" onchange="setEndDate()" class="input-short"><br>
			</div>
			<div class="input-group">
				<label for="endDate"> 종료일 </label>
				<input type="date" id="endDate" onchange="getSchList()" class="input-short"><br>
			</div>
			<div class="input-group">
				<label for="endDate"> 상담시간 </label>
				<input type="checkbox" id="am" value="10:00" checked>오전 10시
				<input type="checkbox" id="pm" value="15:00">오후 3시
			</div>
			<div id="schArea"></div>
			<button onclick="setSch()">일정 추가</button>
		</div>
		
		<form action="/admin/ucSchCreate" role="form" method="post"
			name="schForm" id="schForm"></form>
	</div>
</body>
</html>