<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.fieldError {
	color: #bd2130;
}

#schArea {
	margin-top: 20px;
	width: 600px;
}

.sch {
	display: inline-block;
	margin: 5px;
	padding: 8px 18px;
	font-size: 14px;
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
	border-radius: 10px;
}
</style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:inline="javascript">
	var errorMessage = [[${errorMessage}]];
	$(document).ready(function() {
		var now_utc = Date.now() // 지금 날짜를 밀리초로
		// getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
		var timeOff = new Date().getTimezoneOffset()*60000; // 분단위를 밀리초로 변환
		// new Date(now_utc-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
		var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
		document.getElementById("startDate").setAttribute("min", today);
		
		$("#schArea").on("click", ".sch", function() {
			this.remove();
		});
	});

	
	// 시작일만 처음 설정할시 종료일에도 시작일을 넣어줌
	function setEndDate() {
		var startDt = document.getElementById("startDate");
		var endDt = document.getElementById("endDate");
		endDt.setAttribute("min",startDt.value);
		endDt.value=startDt.value;
		// span 태그 생성해줌
		getSchList();
	}
	
	// 시작일, 종료일에 맞춰 span 태그(각 날짜) 생성해줌
	function getSchList() {
		// 시작일, 종료일 변경될때 일단 기존에 있던 span태그 삭제
		$("#schArea *").remove();
		var startDate = document.getElementById("startDate").value;
		var endDate = document.getElementById("endDate").value;
		var startDt = new Date(startDate);
		var endDt = new Date(endDate);
	    var curDt = startDt;
	    var str = "";
	    while(curDt <= endDt) {
	    	// 주말은 자동으로 날짜목록에서 사라짐
	    	if(curDt.getDay()!=0 && curDt.getDay() !=6) {
		        str += "<span class='sch'>";
		    	str += toStringByFormatting(curDt);
		    	str += "</span>";
	    	}
	        curDt.setDate(curDt.getDate() + 1);
	    }
		
		$("#schArea").append(str);
	}
	
	// span태그에 표시될 날짜 포맷 설정
	function leftPad(value) {
	    if (value >= 10) {
	        return value;
	    }

	    return `0${value}`;
	}
	// span태그에 표시될 날짜 포맷 설정
	function toStringByFormatting(source, delimiter = '-') {
	    const year = source.getFullYear();
	    const month = leftPad(source.getMonth() + 1);
	    const day = leftPad(source.getDate());

	    return [year, month, day].join(delimiter);
	}
	
	function setSch() {
		var header = $("meta[name='_csrf_header']").attr('content');
		var token = $("meta[name='_csrf']").attr('content');
		 const schList = document.getElementsByClassName('sch');
		 var schs = "";
		 for(let i=0; i < schList.length; i++) {
			 schs += schList[i].innerText+","
		 }
		 if(schs == "") {
			 alert("날짜를 선택해주세요!");
			 return;
		 }
		 var am = document.getElementById('am');
		 var pm = document.getElementById('pm');
		 var checkedAM = "";
		 if (am.checked) {
			 checkedAM = am.value;
		 }
		 var checkedPM = "";
		 if (pm.checked) {
			 checkedPM = pm.value;
		 }
		 if(checkedAM == "" && checkedPM == "") {
			 alert("시간을 선택해주세요!");
			 return;
		 }
		 $.ajax({
			 url:"/admin/unSchCreate",
			 method:"post",
			 data :{
				 "schDate":schs,
				 "am":checkedAM,
				 "pm":checkedPM
			 },beforeSend: function(xhr){
					xhr.setRequestHeader(header, token);
			 },
			 success: function(result) {
				 alert(result.result);
			 }, error: function() {
				 alert("에러발생!");
			 }
		 });
	}
	</script>


</th:block>
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>비대면 상담 일정 관리</title>
</head>
<body>
	<div layout:fragment="content">
		<div>
			시작일:<input type="date" id="startDate" onchange="setEndDate()">
			종료일:<input type="date" id="endDate" onchange="getSchList()">
			상담시간:<input type="checkbox" id="am" value="10:00" checked>오전 10시
					<input type="checkbox" id="pm" value="15:00">오후 3시
		</div>
		<div id="schArea"></div>
		<button onclick="setSch()">일정 추가</button>
		<form action="/admin/unSchCreate" role="form" method="post" name="schForm" id="schForm">
		
		</form>
	</div>
</body>
</html>