<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/memberLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.error {
			color: #bd2130;
		}
		
		.content {
  			display: block;
  			margin-left: 25%;
		}
		
		.subview {
			padding: 20px 50px 40px 50px;
		}
	</style>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>아이디 찾기</title>
    <script type="text/javascript" src="/js/findIdPw.js"></script>
</head>
<body>

<div layout:fragment="content">
<div class="subview">
<h3>아이디 찾기</h3>
	<form role="form" method="get" action="" th:object="${memberFormDto}" id="frm">
		<div class="input-group">
			<label th:for="name">이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input type="text" th:field="*{name}"
				class="input-short" placeholder="이름 입력">
		</div>
		<div class="input-group">
			<label th:for="tel1">전화번호</label> <input type="text" class="input-short"
				th:field="*{tel1}" placeholder="010" maxlength="3"> - <input type="text" class="input-short"
				th:field="*{tel2}" placeholder="1234" maxlength="4"> - <input type="text" class="input-short"
				th:field="*{tel3}" placeholder="5678" maxlength="4">
		</div>
		<div class="search-div">
		<input type="button" class="button-style" id="find_id_btn" value="ID찾기">
		</div>
	</form>
</div>
</div>
</body>
</html>