<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/memberLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.error {
			color: #bd2130;
		}
	</style>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>아이디 찾기</title>
    <script type="text/javascript" src="/js/findIdPw.js"></script>
</head>
<body>

<div layout:fragment="content">
	<form role="form" method="get" action="" th:object="${memberFormDto}" id="frm">
		<div class="form-group">
			<label th:for="name">이름</label> <input type="text" th:field="*{name}"
				class="form-control" placeholder="이름 입력">
		</div>
		<div class="form-group">
			<label th:for="tel1">전화번호</label> <input type="text"
				th:field="*{tel1}" placeholder="010" maxlength="3"> - <input type="text"
				th:field="*{tel2}" placeholder="1234" maxlength="4"> - <input type="text"
				th:field="*{tel3}" placeholder="5678" maxlength="4">
		</div>
		<input type="button" class="btn btn-primary" id="find_id_btn" value="ID찾기">
	</form>
</div>
</body>
</html>