<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/consLayout}">
<head>
<meta charset='utf-8' />
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<th:block layout:fragment="css">
	<style>
body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 1000px;
	margin: 0 auto;
}

.fc-daygrid-day-number {
	color: black;
}
.fc-event-time{
       color: white;     
}

</style>
</th:block>
</head>

<body>
	<div layout:fragment="content" class="content-wrapper">
		<div id='calendar'></div>
		<div>
			<button onclick="calendar.addEvent()">일정추가</button>
			
	<form name="reservationForm" id="reservationForm">
    <input type="hidden" name="cmd" value="openPop" />
    <input type="hidden" name="data" />
	</form>
		</div>
	</div>



</body>
<th:block layout:fragment="script">

	<script th:inline="javascript">
	
		document.addEventListener('DOMContentLoaded', function() {

			var calendarEl = document.getElementById('calendar');
			
			
			  var request = $.ajax({
				url : "/reservation/viewMyReservation",
				method : "GET",
				async : true,
				headers : { 
					"Content-Type" : "application/json",
					"X-HTTP-Method-Override" : "GET"
				},
				dataType : 'json',
				success : function(result) { 
					console.log(result)
				},
				error : function(request, status, error) { // 결과 에러 콜백함수
					console.log(error)
				}
			});
	
			function showPopUp(data) {
				console.log("showPopUp의 data : " + JSON.stringify(data))
			    const url = "/reservation/reservationForm/"+JSON.stringify(data);
				var data = data;
				
			    	//var reservationForm = document.getElementById("reservationForm");
			    	 window.open(url , "reservationForm", "toolbar=no, width=1000, height=700, directories=no, status=no, scrollbars=no, resizable=yes"); 
			    	// location.reload();
			}

			request.done(function(result) {
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView : 'dayGridMonth',
					showNonCurrentDates : true,
					headerToolbar : {
						left : 'prev',
						center : 'title',
						right : 'next'
					},				
					navLinks : true, // can click day/week names to navigate views
					businessHours : true, // display business hours
					editable : true,
					selectable : true,
					locale : "ko",
					eventClick : function(info) {	
						console.log("info.event : "+JSON.stringify(info.event))
						console.log("result"+result)
						const name = [[${#authentication.principal.username}]];
						var data = JSON.parse(JSON.stringify(info.event));						
						data.name = name;
						var header = $("meta[name='_csrf_header']").attr('content');
						var token = $("meta[name='_csrf']").attr('content');
						var result = confirm(info.event.start.toISOString().replace('T', ' ').slice(0, -5)+ '에 예약을 진행하시겠습니까?');
						if(result == true ){
							alert("상담 예약을 진행합니다."+JSON.stringify(info.event))		
						}
						/* else if(result == true && data.title=="예약완료"){
							alert("예약완료된 일정입니다.")
							return;
						} */
						else{
							alert("상담 예약을 취소했습니다.")	
							return;
						}
							
						$.ajax({
							url : "/reservation/selectReservation",
							method : "POST",
							async : true, // 비동기화 여부 (default : true)
						 	headers : { // Http header
								"Content-Type" : "application/json",
								"X-HTTP-Method-Override" : "POST"
							}, 
							data : JSON.stringify(data),
							
							beforeSend: function(xhr){
							        xhr.setRequestHeader(header, token);
							        
							},
							success : showPopUp(data),
							
							error : function(request, status, error) { // 결과 에러 콜백함수
								console.log(error)
							}
						});
					
					},
					eventChange:  function changeEventColor(){
						
						}, //미완성
					eventDisplay:'block',

					events : [{
						title:"예약가능",
						start:"2023-06-15T10:00:00"
						
					}
					],		 
				});
				calendar.render();	
					for(var i =0; i<result.length;i++){
						calendar.addEvent(result[i])
					}	
			});
			
		});
	</script>
</th:block>

</html>
