<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
</head>

<body>
	<header class="header">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	
	<script type="text/javascript" src="/js/header.js"></script>
		<div class="container">
	
				<div class="logodiv">
					<a class="" href="/"><img class="logo" src="/img/logo1.png"/></a>
				</div>
		
			
				<nav>		
					<ul id="menu">
						<li><a href="/weeProjectInfo">서울 위(Wee)</a>
							<ul class="depth_1">
								<li><a href="/weeProjectInfo">Wee프로젝트</a></li>
								<li><a href="/board/notice">공지사항</a></li>
								<li><a href="/weeSymbol">서울Weepl상징</a></li>
							</ul>
						</li>
						<li><a href="/cons/consInfo">상담신청</a>
							<ul class="depth_1">
								<li><a href="/cons/consInfo">상담이용안내</a></li>
								<li><a href="/reservation/main">비대면 상담신청</a></li>
								<li><a href="/boardCons/boardConsList">게시판 상담</a></li>
							</ul>
						</li>
						<li><a href="/mhTest/testMain">마음건강검사</a>
							<ul class="depth_1">
								<li><a href="">맞춤형 마음건강검사</a></li>
								<li><a href="">상황별 마음건강검사</a></li>
							</ul>
						</li>
						<li><a href="/mhinfo/mhinfos">마음건강정보</a>
							
						</li>
						<li><a href="/weeNetwork/weeNetworkInfo">Wee-Network</a>
							<ul class="depth_1">
								<li><a href="/weeNetwork/weeNetworkInfo">Wee-Network소개</a></li>
								<li><a href="/weeNetwork">Wee-Network기관찾기</a></li>						
							</ul>
						</li>
						<li sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_ADMIN')"><a href="/sweetboard/list">스윗(SWeeT)</a>
							<ul class="depth_1">
								<li><a href="">학교업무</a></li>
								<li><a href="">상담게시판</a></li>
								<li><a href="">각종서식</a></li>
								<li><a href="">자유게시판</a></li>
							</ul>
						</li>
					
					</ul>
			</nav>
			
			<div class="headerRight" id="">
				<span id="header1" sec:authorize="isAnonymous()"><a href="/members/beforeRegister">회원가입</a></span>
				<span class="forBorder" sec:authorize="isAnonymous()"></span> 
				<span id="header2" sec:authorize="isAnonymous()"><a href="/members/login">로그인</a></span>
				<span class="forBorder" sec:authorize="isAnonymous()"></span> 
				<span id="header3" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/memberList">관리자</a></span>
				<span class="forBorder" sec:authorize="hasRole('ROLE_ADMIN')"></span>  
				<span id="header4" sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_CLIENT')"><a href="/mypage/connMypageForm">마이페이지</a></span>
				<span class="forBorder" sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_CLIENT')"></span>  
				<span id="header5" sec:authorize="isAuthenticated()"><a href="/members/logout">로그아웃</a></span>
				<span class="forBorder" sec:authorize="isAuthenticated()"></span> 
				<span id="header6"><a href="/siteMap">사이트맵</a></span>
			</div>
		
	</div>
	<!-- <div id="hiddenContainer">
		
	</div> -->
	</header>
</body>
	
</html>
