<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="sidebar" th:fragment="sidebar">
	<div class="sidebarContainer">
		<a href="/" class="sidebarTitle"><span>MemberList</span></a>
		<hr>
		<ul class="sidebarSubmenu">
			<li><a id="memberList" href="/admin/memberList" aria-current="page">회원정보</a></li>
			<li><a id="reMemberList" href="/admin/reMemberList" >이용제한회원정보</a></li>
			<!-- <li>
        <a href="/members/findPwd" class="nav-link link-dark" id="findPwd">
          비밀번호 찾기
        </a>
      </li> -->
		</ul>
		<hr>
	</div>

</div>
</html>
