<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title</title>
<!-- CSS only -->
<link th:href="@{/css/layout.css}" rel="stylesheet">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/sidebar.js"></script>

<th:block layout:fragment="script">

</th:block>
<th:block layout:fragment="css"></th:block>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/healthTestSidebar::sidebar"></div>
	<div layout:fragment="content" class="content"></div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>