html {
position: relative;
min-height: 100%;
margin: 0;
}
body {
min-height: 100%;
}
.footer {
position: absolute;
left: 0;
right: 0;
bottom: 0;
width: 100%;
padding: 15px 0;
text-align: center;
}
.content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.content-wrapper {
	width: 1200px;
}

.table-container {
	width: 1000px;
	margin-bottom: 1rem;
	color: #212529;
	border-collapse: collapse;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 2px;
	border-color: gray;
}

.sidebar{
float:left;
}