@charset "UTF-8";

@font-face {
	font-family: 'TheJamsil5Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

*{
	font-family: 'TheJamsil5Bold';
	margin: 0;
	padding: 0;
}