<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/seoulWeeLayout}">
<head>
<meta charset="UTF-8">
<title>공지사항 상세보기</title>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	</script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.table {
	width: 100%;
	font-size: 14pt;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.board-div {
	width: 70%;
}

img {
	margin-bottom: 8px;
	width: 75%;
}

h1 {
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}
</style>
</th:block>
<body>
	<div layout:fragment="content">
		<form role="form" method="get" 
			enctype="multipart/form-data" th:object="${noticeFormDto}" class="board-div">
			<input type="hidden" id="itemId" th:value="${noticeFormDto.cd}">
			<div align="left" class="title-header hr-first">
				<h2>
					<span th:text="${noticeFormDto.title}" class="title-content" style="margin-left:40px;"></span>
				</h2>
				<hr class='hr-solid' id='hr-second' />
					<span class="board-cd" style="margin-left:15px;">
						<span class="board_cd" style="margin-left:10px;">글번호</span> 
						<span th:text="${noticeFormDto.cd}" style="margin-left:10px;"></span>
					</span>
					<span style="float: right; margin-right:10px;" th:text="${#temporals.format(noticeFormDto.regDt, 'yyyy-MM-dd HH:mm')}"></span>
					<hr class='hr-solid-attach' id='hr-second' />
					<div class="board-attach">
						<span class="material-symbols-outlined">첨부파일</span>
						<div class="board_attach">
							<div th:each="boardAttach : ${noticeFormDto.boardAttachDtoList}" align="center">
								<div th:if="${not #strings.isEmpty(boardAttach.attachUrl)}" th:src="${boardAttach.attachUrl}" class="rounded mgb-15">
									<i class="fa fa-file-o" aria-hidden="true"></i> 
									<a class="attach-download" th:text="${boardAttach.oriAttachName}" th:href="@{'/board/notice/download/' + ${boardAttach.cd}}"></a>
								</div>
							</div>
						</div>
					</div>
					<hr class='hr-solid' id='hr-second' />
			</div>
			<!-- 게시글 내용 영역 -->
			<table class="table" align="center">
				<thead>
					<tr>
						<td style="width:300px">
							<pre style="white-space:pre-wrap; word-break:break-all; font-size: 20px;" th:text="${noticeFormDto.content}"></pre>
						</td>
					</tr>
					<!-- 이미지 -->
					<tr>
					<td>
						<div class="board-img">
							<div th:each="boardImg : ${noticeFormDto.boardImgDtoList}" class="text-center">
								<img th:if="${not #strings.isEmpty(boardImg.imgUrl)}" th:src="${boardImg.imgUrl}" class="rounded mgb-15">								</div>
							</div>
					</td>
					</tr>
				</thead>
			</table>
			<hr class='hr-solid-attach' id='hr-second'/>
				<br>
			<!-- 게시글 표 하단 버튼 영역-->
			<div style="text-align: center">
				<button sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:formaction="@{'/board/admin/noticedtl/'+${noticeFormDto.cd}}" id="btn-comment-modify" type="submit" class="button-style">수정</button>
				<button sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:formaction="@{'/board/notice/delete/'+${noticeFormDto.cd}}" id="btn-comment-delete" type="submit" class="button-style">삭제</button>
				<button formaction="/board/notice" id="btn-comment-list" type="submit" class="button-style">목록보기</button>
			</div>
		</form>
	</div>
</body>
</html>

