<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/basicLayout}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});
		function page(page) {
			var searchDateType = $("#searchDateType").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			location.href = "/board/notices/" + page + "?searchDateType="
					+ searchDateType + "&searchBy=" + searchBy + "&searchQuery=" + searchQuery;
		}
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
select {
	margin-right: 10px;
}
</style>
</th:block>
<div layout:fragment="content">
	<form th:action="@{'/board/notices/' + ${notices.number}}" role="form"
		method="get" th:object="${notices}">
		<table class="table">
			<thead>
				<tr>
					<td>글번호</td>
					<td>제목</td>
					<td>등록자</td>
					<td>등록일</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="notice, status: ${notices.getContent()}">
					<td th:text="${notice.noticeCd}"></td>
					<td><a th:href="'/board/noticedtl/'+${notice.noticeCd}"
						th:text="${notice.title}"></a></td>
					<td th:text="${notice.createdBy}"></td>
					<td th:text="${#temporals.format(notice.regDt, 'yyyy-MM-dd hh:mm')}"></td>
					<td sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a th:href="'/board/admin/noticedtl/'+${notice.noticeCd}" th:text="수정"></a></td>
					<td sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a th:href="'/board/notice/delete/'+${notice.noticeCd}" th:text="삭제"></a></td>
				</tr>
			</tbody>
		</table>

		<div
			th:with="start=${(notices.number/maxPage)*maxPage + 1}, end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage - 1) < notices.totalPages ? start + 
(maxPage - 1) : notices.totalPages)})">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${notices.first}?'disabled'">
					<a th:onclick="'javascript:page(' + ${notices.number - 1} + ')'"
					aria-label='Previous' class="page-link"> <span
						aria-hidden='true'>Previous</span>
				</a>
				</li>
				<li class="page-item"
					th:each="page: ${#numbers.sequence(start, end)}"
					th:classappend="${notices.number eq page-1}?'active':''">
					<a th:onclick="'javascript:page(' + ${page - 1} + ')'"
					th:inline="text" class="page-link">[[${page}]]</a>
				</li>
				<li class="page-item" th:classappend="${notices.last}?'disabled'">
					<a th:onclick="'javascript:page(' + ${notices.number + 1} + ')'"
					aria-label='Next' class="page-link"> <span aria-hidden='true'>Next</span>
				</a>
				</li>
			</ul>
		</div>

		<div class="form
-inline justify
-content
-center"
			th:object="${noticeSearchDto}">
			<select th:field="*{searchDateType}" class="form
-control"
				style="width: auto;">
				<option value="all">전체기간</option>
				<option value="1d">1 일</option>
				<option value="1w">1 주</option>
				<option value="1m">1개월</option>
				<option value="6m">6개월</option>
			</select> 
			
			 <select th:field="*{searchBy}" class="form
-control"
				style="width: auto;">
				<option value="title">제목</option>
				<option value="createdBy">작성자</option>
			</select> <input th:field="*{searchQuery}" type="text" class="form
-control"
				placeholder="검색어를 입력해주세요">
			<button id="searchBtn" type="submit" class="btn btn
-primary">검색</button>
		</div>
		
		<a style="float: right" class="btn btn-primary"
					th:href="@{/board/notice/new}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">글쓰기</a>
	</form>
</div>
</html>