<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.fieldError {
	color: #bd2130;
}
</style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script
		src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:inline="javascript">
	
function new_window(reserveDate, reserveTime, reserveApplyCd) {
	const now = new Date();
	var possible_time_start = new Date(reserveDate+" "+reserveTime);
	var possible_time_end = new Date(reserveDate+" "+reserveTime);
	possible_time_start.setMinutes(possible_time_start.getMinutes() - 10);
	possible_time_end.setMinutes(possible_time_end.getMinutes() + 59);
	
	if(possible_time_start > now || possible_time_end < now) {
		alert("상담 가능한 시간이 아닙니다.");
		return;
	}
	popupWindow = window.open(
		      "/admin/chattingForm/"+reserveApplyCd,
		      "비대면 상담",
		      "resizeable"
		    );
	  popupWindow.resizeTo(500,800);
	  popupWindow.onresize = (_=>{
		    popupWindow.resizeTo(500,800);
		});
	popupWindow.moveTo(800,100);
  }
  
</script>
</th:block>
<div layout:fragment="content" class="content-wrapper">
	<form action="/admin/chattingForm" role="form" method="get">
		<table class="table-container">
			<thead>
				<tr>
					<th>회원이름</th>
					<th>신청제목</th>
					<th>신청내용</th>
					<th>상담일</th>
					<th>상담시간</th>
					<th>신청상태</th>
					<th>-</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reserveApply : ${reserveApplyList}">
					<td th:text="${reserveApply.member.name}"></td>
					<td th:text="${reserveApply.reserveTitle}"></td>
					<td th:text="${reserveApply.consReqContent}"></td>
					<td th:text="${reserveApply.reserveSchedule.reserveDate}"></td>
					<td th:text="${reserveApply.reserveSchedule.reserveTime}"></td>
					<td th:text="${reserveApply.reserveStatus}"></td>
					<td>
						<input type="button" value="비대면 상담 시작" th:disabled="!${reserveApply.reserveStatus == '예약완료'}" th:onclick="new_window([[${reserveApply.reserveSchedule.reserveDate}]],[[${reserveApply.reserveSchedule.reserveTime}]],[[${reserveApply.reserveApplyCd}]])">
					</td>
					</th:block>
				</tr>
			</tbody>
		</table>
		
	</form>
</div>
</html>