<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="sidebar" th:fragment="sidebar">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<div style="width: 200px;">
		<a href="/cons/consInfo">
			<span>상담신청</span>
		</a>
		<hr>
			<ul>
				<li><a href="/cons/consInfo">상담이용안내</a></li>
				<li><a href="/reservation/main">비대면 상담신청</a></li>
				<li><a href="/boardCons/boardConsList">게시판 상담</a></li>
		</ul>
		<hr>
	</div>
</div>
</html>
