<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
</head>


<body>
	<header class="header">
	<link th:href="@{/css/header.css}" rel="stylesheet">
		<div class="container">
			<div class="">
				<div class="">
					<a class="" id="" href="#">Subscribe</a>
				</div>
				
				<div class="">
					<a class="" href="/">Weepl</a>
				</div>
			</div>
			
			<div class="">		
					<ul class="menu">
						<li class=""><a class="" href="/board/notice">서울 위(Wee)</a>
							<ul class="depth_1">
								<li><a href="">Wee프로젝트</a></li>
								<li><a href="">서울Wee센터</a></li>
								<li><a href="">공지사항</a></li>
								<li><a href="">서울Weepl상징</a></li>
							</ul>
						</li>
						<li class=""><a class="" href="/cons/consInfo">상담신청</a>
							<ul class="depth_1">
								<li><a href="">이용안내</a></li>
								<li><a href="">비대면 상담신청</a></li>
								<li><a href="">게시판 상담</a></li>
							</ul>
						</li>
						<li class=""><a class="" href="/mhTest/testMain">마음건강검사</a>
							<ul class="depth_1">
								<li><a href="">맞춤형 마음건강검사</a></li>
								<li><a href="">연령별 마음건강검사</a></li>
								<li><a href="">상황별 마음건강검사</a></li>
							</ul>
						</li>
						<li class=""><a class="" href="/mhinfo/mhinfos">마음건강정보</a>
							<ul class="depth_1">
								<li><a href="">추천글</a></li>
								<li><a href="">대인관계</a></li>
								<li><a href="">학교생활</a></li>
								<li><a href="">마음건강</a></li>
								<li><a href="">위기</a></li>
								<li><a href="">일탈</a></li>
							</ul>
						</li>
						<li class=""><a class="" href="/weeNetwork">Wee-Network</a>
							<ul class="depth_1">
								<li><a href="">Wee-Network소개</a></li>
								<li><a href="">Wee-Network기관찾기</a></li>
								<li><a href="">공지사항</a></li>
							</ul>
						</li>
						<li class=""><a class="" href="/sweetboard/list">스윗(SWeeT)</a>
							<ul class="depth_1">
								<li><a href="">학교업무</a></li>
								<li><a href="">상담게시판</a></li>
								<li><a href="">각종서식</a></li>
								<li><a href="">자유게시판</a></li>
							</ul>
						</li>
					</ul>
			</div>
			
			<div class="" id="">
				<span class="" sec:authorize="isAnonymous()"><a	class="" href="/members/beforeRegister">회원가입</a></span> 
				<span class="" sec:authorize="isAnonymous()"><a	class="" href="/members/login">로그인</a></span>
				<span class="" sec:authorize="hasRole('ROLE_ADMIN')"><a	class="" href="/admin/memberList">관리자페이지</a></span> 
				<span class="" sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_CLIENT')"><a class="" href="/mypage/connMypageForm">마이페이지</a></span> 
				<span class="" sec:authorize="isAuthenticated()"><a	class="" href="/members/logout">로그아웃</a></span>
			</div>
		
	</div>
	</header>
</body>
	
</html>
