<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="sidebar" th:fragment="sidebar">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<div class="" style="width: 200px;">
		<span class="">Members</span>
		<hr>
		<ul class="">
			<li><a href="/members/login" class="" aria-current="page" id="login"> 로그인 </a></li>
			<li><a href="/members/findId" class="" id="findId"> ID찾기 </a></li>
			<li><a href="/members/findPwd" class=""	id="findPwd"> 비밀번호 찾기 </a></li>
		</ul>
		<hr>
	</div>

</div>
</html>
