<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="sidebar" th:fragment="sidebar">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<div class="sidebarContainer">
		<span class="sidebarTitle">Members</span>
		<hr>
		<ul class="sidebarSubmenu">
			<li><a href="/members/login" aria-current="page" id="login">로그인</a></li>
			<li><a href="/members/findId" id="findId">ID찾기</a></li>
			<li><a href="/members/findPwd" id="findPwd">비밀번호 찾기</a></li>
		</ul>
		<hr>
	</div>

</div>
</html>
