<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="sidebar" th:fragment="sidebar">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
	<div class="sidebarContainer">
		<a href="/sweetboard/list">
			<span class="sidebarTitle">마음건강정보</span>
		</a>
		<hr>
			<ul class="sidebarSubmenu">
				<li><a href="">학교업무</a></li>
				<li><a href="">상담게시판</a></li>
				<li><a href="">각종서식</a></li>
				<li><a href="">자유게시판</a></li>
		</ul>
		<hr>
	</div>
</div>
</html>
