<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
<style>
.inner{
	min-width: auto;
}
.item {
    background-color: #0092d7;
    color: #fff;
}
</style>

</th:block>
<th:block layout:fragment="script">
	<script>
		var testForm = null;
		$(document).ready(function(){
			testForm = $("#testForm");
			
		});
		var chkTest = function(field, check, msg, autoFlag) {
			if (autoFlag!=false) {
				autoFlag = true;
			}
			var failFlag = false;
			var fieldValue = getFieldValue(field);

			switch(check) {
				case "null": // null 체크
					if (autoFlag==true) {
						msg = msg +" : 필수 입력 사항입니다.";
					}

					failFlag = (fieldValue==null || fieldValue=="" || fieldValue.length<1);
				break;

				
				case "checked": //체크박스
					if (autoFlag==true) {
						msg = msg +" : 필수 체크 사항입니다.";
					}

					failFlag = !getFieldCheck(field);
				break;

				default:
					msg = "Validation을 지원하지 않은 속성입니다.";
					failFlag = false;
				break;
			}

			if (failFlag) {
				if (msg!=null) {
					alert (msg);
				}

				try {
					switch(check) {
						case 'hidden':
						case 'editor':
							break;
						default:
							field.focus();
							field.select();
							break;
					}
				} catch(e) {
					console.log(e);
				}
			}

			return !failFlag;
		}
		var fnTestFormValidation = function(){
			var el_applyTest = testForm.find("input[name^=test_sq]:checked")
			testForm.prop("action", el_applyTest.val());
			return (
						chkTest(testForm.find("input[name^=test_sq]"), "checked", "검사지")
			)
		}
		
	</script>
</th:block>
<div layout:fragment="content">
	<div class = "inner">
	<div>
		<ul>
			<li>
				<a href="applyTest01" class="item">
					1:1검사
				</a>
			</li>
			<li>
				<a href="applyTest02" class="item">
					상황별 마음검사
				</a>
			</li>
		</ul>
	</div>
		<form id="testForm" action="about:blank" method="get" onsubmit="return fnTestFormValidation();">
			<p>진행할 검사를 선택해주세요.</p>
			
			<div>
				<ul>
					<li>
					  <label for="test_sq_1" class="item">
					   <input type="checkbox" id="test_sq_1" name="test_sq[]" value="applyTest01_1"/>
					   <div>
					   	<strong>우울감(PHQ_9)</strong>
					   </div>
					  </label>
					</li>
					<li>
					  <label for="test_sq_2" class="item">
					   <input type="checkbox" id="test_sq_2" name="test_sq[]" value="applyTest01_2"/>
					   <div>
					   	<strong>스마트폰 과의존 척도</strong>
					   </div>
					  </label>
					</li>
					<li>
					  <label for="test_sq_3" class="item">
					   <input type="checkbox" id="test_sq_3" name="test_sq[]" value="applyTest01_3"/>
					   <div>
					   	<strong>청소년 도박문제 자가점검 (CAGI)</strong>
					   </div>
					  </label>
					</li>
					<li>
					  <label for="test_sq_4" class="item">
					   <input type="checkbox" id="test_sq_4" name="test_sq[]" value="applyTest01_4"/>
					   <div>
					   	<strong>범불안장애 척도 (GAD-7)</strong>
					   </div>
					  </label>
					</li>
					<li>
					  <label for="test_sq_5" class="item">
					   <input type="checkbox" id="test_sq_5" name="test_sq[]" value="applyTest01_5"/>
					   <div>
					   	<strong>스트레스 대처반응척도 (K-CSI)</strong>
					   </div>
					  </label>
					</li>
				</ul>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">
				<span>검사 시작</span>
				</button>
			</div>
		</form>
	 </div>
</div>
</html>