<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
	<th:block layout:fragment="css">
		<style>
		li{
		list-style-type: none;
		
		}
		
		</style>
	
	</th:block>
	
	<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
			var val = location.href
		})
	</script>
	
	</th:block>
	
	<div layout:fragment="content">
	<form action="">
	<div class ="inner">
	<h3 th:text="'진행한 검사:' + ${testName}">  </h3>
	<strong>마음건강 검사 결과</strong>
		<div id="test" class="chkResult">
		<ul>
			<li style="font-size:35px;" th:text="'총 점수: '+ ${testSum}+'점'" ></li>
			<li>5점 이하:정상</li>
			<li>6점이상 8점이하: 경도, 중증도</li>
			<li>9점 이상:심각</li>
		</ul>
		</div>
	</div>
	</form>
</div>
<div></div>
</html>