<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

사용자 스크립트 추가
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});

		function page(page) {
			var searchByCate = $("#searchByCate").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();

			location.href = "/mhinfo/mhinfos/" + page + "?searchByCate="
					+ searchByCate + "&searchBy=" + searchBy
					+ "&searchQuery=" + searchQuery;
		}
	</script>

</th:block>

사용자 CSS 추가
<th:block layout:fragment="css">
	<style>
select {
	margin-right: 10px;
}
</style>

	<style>
.card-news-grid {
	width: 1400px;
	display: flex;
	flex-wrap: wrap;
}

.card-news-wrapper {
	display: flex;
	justify-content: center;
	
}

.card-news-item {
	width: calc(33.33% - 20px);
	margin: 10px;
}

.card-news-image img {
	max-width: 100%;
	height: 430px;
	margin-bottom: 20px;
    border-radius: 30px;

}
.card-news-content { 
	text-align : center;
}
#title {
    font-size: 25px;
    font-weight: bold;
    color : black;
}

#regDt {
    font-size: 23px;
    color :  #c0c0c0;
}

#border {
	font-size: 23px;
	color : #c0c0c0;
}

#view {
    font-size: 23px;
    color : #808080;
}








</style>
</th:block>

<meta charset="UTF-8">

<div layout:fragment="content">
	<h1 style="text-align: center; font-weight: bold;">마음건강정보</h1>
	<br>
	<form th:action="@{'/mhinfo/mhinfos/' + ${mhinfos.number}}" role="form"
		method="get" th:object="${mhinfos}">
		<div class="form-inline justify-content-center"
			th:object="${mhinfoSearchDto}">
			<select th:field="*{searchByCate}" class="form-control"
				style="width: auto;">
				<option value="SCHOOL">학교생활</option>
				<option value="MIND">마음건강</option>
				<option value="RELATIONSHIP">대인관계</option>
			</select> 
			<select th:field="*{searchBy}" class="form-control"
				style="width: auto;">
				<option value="title">제목</option>
				<option value="createdBy">작성자</option>
			</select> <input th:field="*{searchQuery}" type="text" class="form-control"
				placeholder="검색어를 입력해주세요">
			<button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
		</div>
		<br>
		<div class="card-news-container">
			<div class="card-news-wrapper">
				<div class="card-news-grid">
					<div th:each="mhinfo, status: ${mhinfos.getContent()}"
						class="card-news-item">
						<div class="card-news-image">
							<a th:href="'/mhinfo/mhinfo/' + ${mhinfo.cd}"> <img
								th:src="${mhinfo.articleMhinfos[0].imgUrl}" alt="Image">
							</a>
						</div>
						<div class="card-news-content">
							<tr>
							
    <td>
        <span id="title" th:text="${mhinfo.title}"></span>
        <br>
        <span id="regDt" th:text="${#temporals.format(mhinfo.regDt, 'yyyy-MM-dd')}"></span>
        <span id="border">|</span>
        <span id="view" th:text="${mhinfo.view}"></span>
    </td>


							</tr>
						</div>


						<span>
							<button type="button" class="btn btn-primary"
								th:onclick="|location.href='/mhinfo/admin/mhinfo/${mhinfo.cd}'|"
								sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_ADMIN')">수정

							
						</span> 
						<span> <button type="button" class="btn btn-primary"
							th:onclick="|location.href='/mhinfo/admin/delete/${mhinfo.cd}'|"
							sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_ADMIN')">삭제</span>
					</div>
				</div>
			</div>
		</div>



		<div>
			<button type="button" class="btn btn-primary"
				onClick="location.href='/mhinfo/admin/mhinfo/new'"
				sec:authorize="hasAnyAuthority('ROLE_ADMIN')">글쓰기</button>

			<div
				th:with="start=${(mhinfos.number/maxPage)*maxPage + 1}, end=(${(mhinfos.totalPages == 0) ? 1 : (start + (maxPage - 1) < mhinfos.totalPages ? start + (maxPage - 1) : mhinfos.totalPages)})">
				<ul class="pagination justify-content-center">

					<li class="page-mhinfo"
						th:classappend="${mhinfos.first}?'disabled'"><a
						th:onclick="'javascript:page(' + ${mhinfos.number - 1} + ')'"
						aria-label='Previous' class="page-link"> <span
							aria-hidden='true'>Previous</span>
					</a></li>
					<li class="page-mhinfo"
						th:each="page: ${#numbers.sequence(start, end)}"
						th:classappend="${mhinfos.number eq page-1}?'active':''"><a
						th:onclick="'javascript:page(' + ${page - 1} + ')'"
						class="page-link">[[${page}]]</a></li>
					<li class="page-mhinfo"
						th:classappend="${mhinfos.last}?'disabled':''"><a
						th:onclick="'javascript:page(' + ${mhinfos.number + 1} + ')'"
						aria-label='Next' class="page-link"> <span aria-hidden='true'>Next</span>
					</a></li>
				</ul>
			</div>


		</div>
</div>
</form>
</div>


</html>