<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/consLayout}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="css">
	<style>
	.input-group {
	margin-bottom: 15px
}
		.fieldError{
			color:#bd2130;
			
	}
	</style>
</th:block>
<th:block layout:fragment="script">
	
</th:block>

	<div layout:fragment="content" class="content-wrapper">
		<form action="@{'/boardCons/' + ${boardCons.number}}"role="form" method="get" th:object="${boardCons}">
			<p class="h2">게시판 상담 상세글</p>
			<table class="table-container">
				<tbody>
					<tr>
					  <th scope="row">글 번호</th>
					  	<td th:text="${boardCons.cd}"></td>
					  
					  <th scope="row">등록일</th>
					  	<td th:text="${boardCons.regDt}"></td>
					 </tr>
					 <tr>
					  <th scope="row">작성자</th>
					  	<td th:text="${boardCons.createdBy}"></td>
					  </tr>
					 <tr>
					  <th scope="row">제목</th>
					  	<td th:text="${boardCons.title}"></td>
					 </tr>
					 <tr>
					  <th scope="row">내용</th>
					  	<td th:text="${boardCons.content}"></td>
					 </tr>
					
				</tbody>
			</table>
		
		
		<button type="button" class="btn btn-primary" th:onclick="|location.href='/boardCons/modCons/' + ${boardCons.cd}|">수정하기</button>
		<button type="button" class="btn btn-primary" onclick="location.href='/boardCons/consList'">리스트로 돌아가기</button>
		<button type="button" class="btn btn-primary" th:onclick="|location.href='/boardCons/consDel/' + ${boardCons.cd}|">삭제하기</button>
		</form>
	</div>
</html>