<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/mhInfoLayout}">
<head>
<meta name="_csrf" th:content="${_csrf?.token}" />
<meta name="_csrf_header" th:content="${_csrf?.headerName}" />
<meta charset="UTF-8">
</head>
<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		function clickLike() {
			var mhinfoCd = $('#mhinfoCd').val();
			$.ajax({
				type : "get",
				url : "/mhinfo/likes",
				data : {
					"mhinfoCd" : mhinfoCd
				},
				contentType : "application/json",
				success : function(data) {
					document.getElementById('likeCnt').innerHTML = data.result;
				},
				error : function() {
					alert("에러발생");
				}
			})
		}
		
	</script>
</th:block>
<script type="text/javascript">
	
</script>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.btn btn-primary {
	text-align : center;
}
</style>
</th:block>
<div layout:fragment="content" style="margin-left: 25%; margin-right: 25%">
	<input type="hidden" id="mhinfoCd" th:value="${mhinfo.cd}">

	<div th:each="boardImg, status: ${mhinfo.boardImgDtoList}" class="text-center">
    <img th:if="${not #strings.isEmpty(boardImg.imgUrl)}"
        th:src="${boardImg.imgUrl}" class="rounded mgb-15" width="800">
    <div th:if="${status.last}" class="mb-4"></div>
</div>

	<div class="text-center">
    <button type="button" class="btn btn-primary"
        th:onclick="|location.href='/mhinfo/admin/mhinfo/${mhinfo.cd}'|" sec:authorize="hasAnyRole('ROLE_COUNSELOR', 'ROLE_ADMIN')">수정</button>
    <button type="button" class="btn btn-primary"
        th:onclick="|location.href='/mhinfo/mhinfos'|">목록</button>
    <button type="button" class="btn btn-primary"
        th:onclick="|location.href='/mhinfo/admin/delete/${mhinfo.cd}'| " sec:authorize="hasAnyAuthority('ROLE_ADMIN')">삭제</button>
    <button type="button" class="btn btn-primary" onClick="clickLike()" >
        좋아요&nbsp&nbsp<span id="likeCnt" th:text="${mhinfo.likeCnt}"></span>
    </button>
</div>



</div>

</html>

